In [9]:
import pandas as pd

In [14]:
data = pd.read_csv(r"C:\Users\jojuk\Documents\git\projects\smile-on-get_tootha_choppa\data\Smileon.csv")

C:\Users\jojuk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,2,5,6,7,8,9,10,11,12,13,14,15,20,21,22,23,24,26,27,28,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,49,52,53,55,56,57,58,59,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,141,144,156,157,158,159,165,166) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57862 entries, 0 to 57861
Columns: 184 entries, FamilyandChildrensService - CallReports export requested on Monday October 11 2021 at 8:30 PM. to Unnamed: 183
dtypes: object(184)
memory usage: 81.2+ MB

In [21]:
data.head(2)

,FamilyandChildrensService - CallReports export requested on Monday October 11 2021 at 8:30 PM.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 174,Unnamed: 175,Unnamed: 176,Unnamed: 177,Unnamed: 178,Unnamed: 179,Unnamed: 180,Unnamed: 181,Unnamed: 182,Unnamed: 183
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CallReportNum,ReportVersion,LinkedToCallReportNum,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,WasRealCall,WasHangup,...,SMILE ON 60+ Screening - Treatment Urgency,SMILE ON 60+ Screening - Untreated Decay,SMILE ON 60+ Site Information - Enroller ID,SMILE ON 60+ Site Information - Enroller Location,SMILE ON 60+ Treatment Plan - Action: Upload A...,SMILE ON 60+ Treatment Plan - Is the treatment...,SMILE ON 60+ Treatment Plan - Was a treatment ...,SMILE ON 60+ Treatment Plan - Was the enrollee...,SMILE ON 60+ Verification of Eligibility - Tra...,SMILE ON 60+ Verification of Eligibility - Ver...