Smile On 60+ is a statewide initiative in Tennessee with the goal of improving the overall health of low-income, mobile seniors age 60+ through access to oral healthcare services and community education.
More information can be found: https://www.tn.gov/aging/administration/seniortrust-eldertrust.html https://interfaithdentalclinic.com/smile-on-60/

___Data Questions For this project you are tasked with using this data to determine the effectiveness of Smile On. Use the data provided to answer these questions:

Who has Smile On been serving (number of patients, age, gender, etc.)?
Explore the impact of the Smile On program and the outcomes that are produced for clients. Are clients seeing improvement through the Smile On program?
Is there any correlation between procedures given and improved outcomes?
Beyond the questions outlined above, you are encouraged to continue to explore the data to understand the effectiveness of the Smile On program and to try and see how different factors can impact the clinical results (eg. how do transportation options for clinics affect outcomes?).

__Smile On Data Information about patients is gathered during different interactions (initial visit, checkups, etc.). The data you have been given include records spanning from May of 2018 through September of 2021. There is also a data dictionary that contains some useful information about the different columns.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df= pd.read_csv(r"C:\Users\jojuk\Documents\git\projects\smile-on-get_tootha_choppa\data\Smileon.csv")

C:\Users\jojuk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,32,36,53,58,59,77,83,89,93,105,127,141,144) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_demo = df[['SMILE ON 60+ Demographic Information - Gender', 'SMILE ON 60+ Demographic Information - Household Income Level', 'SMILE ON 60+ Demographic Information - How did you first hear about the SMILE ON 60+ program?', 'SMILE ON 60+ Demographic Information - Preferred Language/Language Needed', 'SMILE ON 60+ Demographic Information - Race/Ethnicity', 'SMILE ON 60+ Demographic Information - What other assistance programs are you on?', 'SMILE ON 60+ Demographic Information - When is the last time you visited your dentist?', 'SMILE ON 60+ Demographic Information - # of People in Household', 'Birth Year']]   
df_demo

,SMILE ON 60+ Demographic Information - Gender,SMILE ON 60+ Demographic Information - Household Income Level,SMILE ON 60+ Demographic Information - How did you first hear about the SMILE ON 60+ program?,SMILE ON 60+ Demographic Information - Preferred Language/Language Needed,SMILE ON 60+ Demographic Information - Race/Ethnicity,SMILE ON 60+ Demographic Information - What other assistance programs are you on?,SMILE ON 60+ Demographic Information - When is the last time you visited your dentist?,SMILE ON 60+ Demographic Information - # of People in Household,Birth Year
0,Female,$0 - $21 280,Other,English,African American,SNAP; SSI/SSDI,NaN,1.0,1960
1,Female,$0 - $21 280,Dental Clinic Staff,English,Caucasian,NaN,More than 5 years,1.0,1959
2,Male,$0 - $21 280,Dental Clinic Staff,NaN,Asian,NaN,Less than 12 months,1.0,1942
3,Male,$0 - $21 280,Dental Clinic Staff,NaN,African American,NaN,More than 5 years,1.0,1960
4,Female,$0 - $21 280,Dental Clinic Staff,NaN,African American,SSI/SSDI,3 to 5 years,1.0,1955
...,...,...,...,...,...,...,...,...,...
57855,Female,NaN,Dental Clinic Staff,NaN,Caucasian,SNAP,Less than 12 months,2,1957
57856,Female,$0 - $21 280,Dental Clinic Staff,NaN,Caucasian,SSI/SSDI,Less than 12 months,1,1958
57857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900
57858,Male,$0 - $21 280,Dental Clinic Staff,English,Caucasian,SNAP,1 to 2 years,1,1958
57859,Female,$0 - $21 280,Dental Clinic Staff,NaN,Caucasian,SSI/SSDI,Less than 12 months,1,1958

In [4]:
df_demo = df_demo.rename(columns={'SMILE ON 60+ Demographic Information - Gender': 'demo_Gender', 'SMILE ON 60+ Demographic Information - Household Income Level': 'demo_Income', 'SMILE ON 60+ Demographic Information - How did you first hear about the SMILE ON 60+ program?': 'demo_Referral', 'SMILE ON 60+ Demographic Information - Preferred Language/Language Needed': 'demo_Language', 'SMILE ON 60+ Demographic Information - Race/Ethnicity': 'demo_Race/Ethnicity', 'SMILE ON 60+ Demographic Information - What other assistance programs are you on?': 'demo_OtherAsst', 'SMILE ON 60+ Demographic Information - When is the last time you visited your dentist?': 'demo_LastVisit', 'SMILE ON 60+ Demographic Information - # of People in Household':'demo_NumInHouse', 'Birth Year':'demo_Birth Year' })
df_demo

,demo_Gender,demo_Income,demo_Referral,demo_Language,demo_Race/Ethnicity,demo_OtherAsst,demo_LastVisit,demo_NumInHouse,demo_Birth Year
0,Female,$0 - $21 280,Other,English,African American,SNAP; SSI/SSDI,NaN,1.0,1960
1,Female,$0 - $21 280,Dental Clinic Staff,English,Caucasian,NaN,More than 5 years,1.0,1959
2,Male,$0 - $21 280,Dental Clinic Staff,NaN,Asian,NaN,Less than 12 months,1.0,1942
3,Male,$0 - $21 280,Dental Clinic Staff,NaN,African American,NaN,More than 5 years,1.0,1960
4,Female,$0 - $21 280,Dental Clinic Staff,NaN,African American,SSI/SSDI,3 to 5 years,1.0,1955
...,...,...,...,...,...,...,...,...,...
57855,Female,NaN,Dental Clinic Staff,NaN,Caucasian,SNAP,Less than 12 months,2,1957
57856,Female,$0 - $21 280,Dental Clinic Staff,NaN,Caucasian,SSI/SSDI,Less than 12 months,1,1958
57857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900
57858,Male,$0 - $21 280,Dental Clinic Staff,English,Caucasian,SNAP,1 to 2 years,1,1958
57859,Female,$0 - $21 280,Dental Clinic Staff,NaN,Caucasian,SSI/SSDI,Less than 12 months,1,1958

In [5]:
df_demo.demo_Income.value_counts()

$0 - $21 280     42590
$21246-$24280     7332
$24281-$27315     2323
$28806-$32920     2016
$32921-$37035      645
$36366-$41560      236
$41561-$46755      206
$43926-$50200       58
$50201-$56475       55
$51486-$58840       26
$58841-$66195       22
$59046-$67480       18
$76121-$85635        8
$84761-$95355        4
$66606-$76120        4
$67481-$75915        3
$74166-$84760        2
Name: demo_Income, dtype: int64

##SOURCE: https://interfaithdental.com/smile-on-60/
  Am I eligible for SMILE ON 60+?

The client must be a minimum of 60 years old;
be a Tennessee resident;
have an income level below 200% poverty, and
be dentally uninsured.      
    Per https://www.payingforseniorcare.com/federal-poverty-level for TN in 2021 for 1 - 4 person houehold threshold is $25,760 - $62,080

In [6]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57860 entries, 0 to 57859
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   demo_Gender          57339 non-null  object
 1   demo_Income          55548 non-null  object
 2   demo_Referral        55060 non-null  object
 3   demo_Language        17364 non-null  object
 4   demo_Race/Ethnicity  51598 non-null  object
 5   demo_OtherAsst       28606 non-null  object
 6   demo_LastVisit       54296 non-null  object
 7   demo_NumInHouse      56239 non-null  object
 8   demo_Birth Year      57860 non-null  object
dtypes: object(9)
memory usage: 4.0+ MB

In [7]:
df_demo.demo_Referral.value_counts()

Dental Clinic Staff                      33302
Other                                     9780
This encounter                            3015
Wisdom Tooth Project Presentation         2160
Senior Center                             2050
SMILE ON CDHC                             1678
TV                                        1470
Flyer                                      786
Newspaper                                  297
Dental Hotline                             259
SHIP Navigator                             129
Health Assist                               68
Radio                                       60
Tennessee Alliance for Legal Services        4
Habitat for Humanity Greater Memphis         2
Name: demo_Referral, dtype: int64

In [8]:
df_demo. demo_Language.value_counts()

English    14013
Spanish     2127
Other        730
Arabic       494
Name: demo_Language, dtype: int64

In [9]:
df_demo['demo_Race/Ethnicity'].value_counts()

Caucasian                            32248
African American                     14670
Hispanic                              2657
Asian                                  836
Unknown                                833
American Indian and Alaska Native      170
Multi-racial                           147
Pacific Islander                        37
Name: demo_Race/Ethnicity, dtype: int64

In [10]:
df_demo.demo_OtherAsst.value_counts()

SSI/SSDI                               12198
SNAP                                    3967
TennCare                                2061
SNAP; TennCare                          1805
SNAP; SSI/SSDI                          1792
SNAP; TennCare; SSI/SSDI                1657
TennCare; SSI/SSDI                      1443
Section 8                                920
SNAP; Section 8                          615
SNAP; TennCare; Section 8; SSI/SSDI      523
SNAP; TennCare; Section 8                483
Section 8; SSI/SSDI                      443
SNAP; Section 8; SSI/SSDI                255
TennCare; Section 8; SSI/SSDI            227
TennCare; Section 8                      217
Name: demo_OtherAsst, dtype: int64

In [11]:
df_demo['demo_LastVisit'].value_counts()

Less than 12 months    22890
More than 5 years      13365
1 to 2 years           10666
3 to 5 years            7375
Name: demo_LastVisit, dtype: int64

In [12]:
df_demo['demo_Gender'].value_counts()

Female         35855
Male           21462
Transgender       21
Other              1
Name: demo_Gender, dtype: int64

In [13]:
df_demo['demo_Birth Year'].value_counts()

1957    3990
1958    3774
1956    3659
1959    3289
1955    2995
        ...
1968       1
1966       1
2354       1
2019       1
1919       1
Name: demo_Birth Year, Length: 124, dtype: int64

**Finding the unique values under Birth year column and replacing irregular information with number 1800 in order to perform aggregations

In [14]:
df_demo['demo_Birth Year'].unique()

array([1960, 1959, 1942, 1955, 1958, 1948, 1961, 1945, 1956, 1953, 1935,
       1943, 1952, 1950, 1954, 1951, 1957, 1941, 1947, 1944, 1937, 2021,
       1938, 1949, 1940, 1946, 1939, 1932, 1931, 1929, 1930, 1934, 1900,
       1933, 1936, 1922, 1965, 1927, 1928, 1924, 1967, 1923, 1925, 1921,
       1926, 2354, '1944', '1947', '1960', '1958', '1951', '1953', '1955',
       '1957', '1959', '1940', '1943', '1952', '1954', '1956', '1941',
       '1949', '1931', '1950', '1946', '1948', '1927', '1935', '1934',
       '1930', '1939', '1945', '1933', '1936', '1937', '1942', '1923',
       '1926', '1938', '1932', '1900', '#NUM!', '1929', '1925', '2020',
       '5245', '1924', '1963', '1928', '1921', 1963, 1968, 2019, 2041,
       1964, 1962, 1920, 2020, 1919, 1978, 1971, '1961', '1962', '1922',
       '1975', '1920', '1967', '#VALUE!', '1968', '1976', '1919', '1964',
       '1971', '1972', '2019', '1991', '1985', '1966', 2298, 1970, 1994,
       1918, 1983, 2018], dtype=object)

In [15]:
df_demo['demo_Birth Year'].replace(['#NUM!','#VALUE!', 'None' ], 'Missing', inplace=True)

In [16]:
df_demo['demo_Birth Year']=pd.to_numeric(df_demo['demo_Birth Year'])

ValueError: Unable to parse string "Missing" at position 17417

In [ ]:
df_demo.describe()

In [ ]:
df_demo['demo_NumInHouse'].unique()

In [ ]:

#import re
#df_demo['demo_NumInHouse']=re.sub(r"[^\w\s]", '', df_demo['demo_NumInHouse'])

df_demo = df_demo.replace('_', '')
df_demo['demo_NumInHouse'].unique()

In [ ]:
df_demo.info()

In [ ]:
pd.DatetimeIndex(df_demo['demo_Birth Year']).year

In [ ]:
df_demo.isna()

In [ ]:
df_demo['demo_NumInHouse'].unique()

In [ ]:
df_demo.info()

In [ ]:
#df_demo['demo_Income']=df_demo['demo_Income'].astype(float)

#import re
#df_demo['demo_Income']=int(float(df_demo['demo_Income']))
#df_demo[["demo_Income", "demo_NumInHouse"]] = df_demo[["demo_Income", "demo_NumInHouse"]].apply(pd.to_numeric)
#df_demo["demo_Income"] = pd.to_numeric(df_demo["demo_Income"])
#df_demo["demo_NumInHouse"] = df_demo["demo_NumInHouse"].replace(r'\W+', '.0')
#df_demo["demo_NumInHouse"] = pd.to_numeric(df_demo["demo_NumInHouse"])

In [ ]:
pivot_demo = pd.pivot_table (data=df_demo, index='demo_Gender')#, ['demo_Birth Year'], aggfunc=np.mean)
pivot_demo

In [ ]:
pivot_demo = pd.pivot_table (data=df_demo, index='demo_Gender', values = 'demo_NumInHouse')