Smile On 60+ is a statewide initiative in Tennessee with the goal of improving the overall health of low-income, mobile seniors age 60+ through access to oral healthcare services and community education.
More information can be found: https://www.tn.gov/aging/administration/seniortrust-eldertrust.html https://interfaithdentalclinic.com/smile-on-60/

___Data Questions For this project you are tasked with using this data to determine the effectiveness of Smile On. Use the data provided to answer these questions:

Who has Smile On been serving (number of patients, age, gender, etc.)?
Explore the impact of the Smile On program and the outcomes that are produced for clients. Are clients seeing improvement through the Smile On program?
Is there any correlation between procedures given and improved outcomes?
Beyond the questions outlined above, you are encouraged to continue to explore the data to understand the effectiveness of the Smile On program and to try and see how different factors can impact the clinical results (eg. how do transportation options for clinics affect outcomes?).

__Smile On Data Information about patients is gathered during different interactions (initial visit, checkups, etc.). The data you have been given include records spanning from May of 2018 through September of 2021. There is also a data dictionary that contains some useful information about the different columns.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df= pd.read_csv(r"C:\Users\jojuk\Documents\git\projects\smile-on-get_tootha_choppa\data\Smileon.csv")

C:\Users\jojuk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,32,36,53,58,59,77,83,89,93,105,127,141,144) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
df_demo = df[['SMILE ON 60+ Demographic Information - Gender', 'SMILE ON 60+ Demographic Information - Household Income Level', 'SMILE ON 60+ Demographic Information - How did you first hear about the SMILE ON 60+ program?', 'SMILE ON 60+ Demographic Information - Preferred Language/Language Needed', 'SMILE ON 60+ Demographic Information - Race/Ethnicity', 'SMILE ON 60+ Demographic Information - What other assistance programs are you on?', 'SMILE ON 60+ Demographic Information - When is the last time you visited your dentist?', 'SMILE ON 60+ Demographic Information - # of People in Household', 'Birth Year']]   
df_demo.head()

,SMILE ON 60+ Demographic Information - Gender,SMILE ON 60+ Demographic Information - Household Income Level,SMILE ON 60+ Demographic Information - How did you first hear about the SMILE ON 60+ program?,SMILE ON 60+ Demographic Information - Preferred Language/Language Needed,SMILE ON 60+ Demographic Information - Race/Ethnicity,SMILE ON 60+ Demographic Information - What other assistance programs are you on?,SMILE ON 60+ Demographic Information - When is the last time you visited your dentist?,SMILE ON 60+ Demographic Information - # of People in Household,Birth Year
0,Female,$0 - $21 280,Other,English,African American,SNAP; SSI/SSDI,NaN,1.0,1960
1,Female,$0 - $21 280,Dental Clinic Staff,English,Caucasian,NaN,More than 5 years,1.0,1959
2,Male,$0 - $21 280,Dental Clinic Staff,NaN,Asian,NaN,Less than 12 months,1.0,1942
3,Male,$0 - $21 280,Dental Clinic Staff,NaN,African American,NaN,More than 5 years,1.0,1960
4,Female,$0 - $21 280,Dental Clinic Staff,NaN,African American,SSI/SSDI,3 to 5 years,1.0,1955

**Rename columns in df_demo dataframe

In [41]:
df_demo = df_demo.rename(columns={'SMILE ON 60+ Demographic Information - Gender': 'demo_Gender', 'SMILE ON 60+ Demographic Information - Household Income Level': 'demo_Income', 'SMILE ON 60+ Demographic Information - How did you first hear about the SMILE ON 60+ program?': 'demo_Referral', 'SMILE ON 60+ Demographic Information - Preferred Language/Language Needed': 'demo_Language', 'SMILE ON 60+ Demographic Information - Race/Ethnicity': 'demo_Race/Ethnicity', 'SMILE ON 60+ Demographic Information - What other assistance programs are you on?': 'demo_OtherAsst', 'SMILE ON 60+ Demographic Information - When is the last time you visited your dentist?': 'demo_LastVisit', 'SMILE ON 60+ Demographic Information - # of People in Household':'demo_NumInHouse', 'Birth Year':'demo_Birth Year' })
df_demo.head(5)

,demo_Gender,demo_Income,demo_Referral,demo_Language,demo_Race/Ethnicity,demo_OtherAsst,demo_LastVisit,demo_NumInHouse,demo_Birth Year
0,Female,$0 - $21 280,Other,English,African American,SNAP; SSI/SSDI,NaN,1.0,1960
1,Female,$0 - $21 280,Dental Clinic Staff,English,Caucasian,NaN,More than 5 years,1.0,1959
2,Male,$0 - $21 280,Dental Clinic Staff,NaN,Asian,NaN,Less than 12 months,1.0,1942
3,Male,$0 - $21 280,Dental Clinic Staff,NaN,African American,NaN,More than 5 years,1.0,1960
4,Female,$0 - $21 280,Dental Clinic Staff,NaN,African American,SSI/SSDI,3 to 5 years,1.0,1955

In [5]:
df_demo.demo_Income.value_counts()

$0 - $21 280     42590
$21246-$24280     7332
$24281-$27315     2323
$28806-$32920     2016
$32921-$37035      645
$36366-$41560      236
$41561-$46755      206
$43926-$50200       58
$50201-$56475       55
$51486-$58840       26
$58841-$66195       22
$59046-$67480       18
$76121-$85635        8
$66606-$76120        4
$84761-$95355        4
$67481-$75915        3
$74166-$84760        2
Name: demo_Income, dtype: int64

**To get demo_Income values as a percentage of demo_Income overall data

In [84]:
df_demo.demo_Income.value_counts(normalize=True)

$0-$21280        0.766724
$21246-$24280    0.131994
$24281-$27315    0.041820
$28806-$32920    0.036293
$32921-$37035    0.011612
$36366-$41560    0.004249
$41561-$46755    0.003709
$43926-$50200    0.001044
$50201-$56475    0.000990
$51486-$58840    0.000468
$58841-$66195    0.000396
$59046-$67480    0.000324
$76121-$85635    0.000144
$66606-$76120    0.000072
$84761-$95355    0.000072
$67481-$75915    0.000054
$74166-$84760    0.000036
Name: demo_Income, dtype: float64

**Change format of demo_Income column to match all other currency ranges by removing space between numbers

In [44]:
df_demo['demo_Income']=df_demo.demo_Income.str.replace (' ', '')
df_demo['demo_Income'].unique()

array(['$0-$21280', '$24281-$27315', '$32921-$37035', '$21246-$24280',
       '$36366-$41560', nan, '$28806-$32920', '$50201-$56475',
       '$43926-$50200', '$41561-$46755', '$58841-$66195', '$51486-$58840',
       '$59046-$67480', '$74166-$84760', '$66606-$76120', '$76121-$85635',
       '$84761-$95355', '$67481-$75915'], dtype=object)

In [6]:
#df_demo.demo_Income.median()

##SOURCE: https://interfaithdental.com/smile-on-60/
  Am I eligible for SMILE ON 60+?

The client must be a minimum of 60 years old;
be a Tennessee resident;
have an income level below 200% poverty, and
be dentally uninsured.      
    Per https://www.payingforseniorcare.com/federal-poverty-level for TN in 2021 for 1 - 4 person houehold threshold is $25,760 - $62,080

In [45]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57860 entries, 0 to 57859
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   demo_Gender          57339 non-null  object
 1   demo_Income          55548 non-null  object
 2   demo_Referral        55060 non-null  object
 3   demo_Language        17364 non-null  object
 4   demo_Race/Ethnicity  51598 non-null  object
 5   demo_OtherAsst       28606 non-null  object
 6   demo_LastVisit       54296 non-null  object
 7   demo_NumInHouse      56239 non-null  object
 8   demo_Birth Year      57860 non-null  object
dtypes: object(9)
memory usage: 4.0+ MB

**Assess the values in the various columns of the df_demo dataframe

In [46]:
df_demo.demo_Referral.value_counts()

Dental Clinic Staff                      33302
Other                                     9780
This encounter                            3015
Wisdom Tooth Project Presentation         2160
Senior Center                             2050
SMILE ON CDHC                             1678
TV                                        1470
Flyer                                      786
Newspaper                                  297
Dental Hotline                             259
SHIP Navigator                             129
Health Assist                               68
Radio                                       60
Tennessee Alliance for Legal Services        4
Habitat for Humanity Greater Memphis         2
Name: demo_Referral, dtype: int64

**Filter all referrals made by Dental Clinic Staff for individuals who have SSI benefits in the demo_OtherAsst and summate them

In [90]:
filt_Referral = df_demo['demo_Referral']=='Dental Clinic Staff'
df_demo.loc[filt_Referral]['demo_OtherAsst'].str.contains('SSI').sum()

11902

In [47]:
df_demo. demo_Language.value_counts()

English    14013
Spanish     2127
Other        730
Arabic       494
Name: demo_Language, dtype: int64

In [48]:
df_demo['demo_Race/Ethnicity'].value_counts()

Caucasian                            32248
African American                     14670
Hispanic                              2657
Asian                                  836
Unknown                                833
American Indian and Alaska Native      170
Multi-racial                           147
Pacific Islander                        37
Name: demo_Race/Ethnicity, dtype: int64

In [49]:
df_demo.demo_OtherAsst.value_counts()

SSI/SSDI                               12198
SNAP                                    3967
TennCare                                2061
SNAP; TennCare                          1805
SNAP; SSI/SSDI                          1792
SNAP; TennCare; SSI/SSDI                1657
TennCare; SSI/SSDI                      1443
Section 8                                920
SNAP; Section 8                          615
SNAP; TennCare; Section 8; SSI/SSDI      523
SNAP; TennCare; Section 8                483
Section 8; SSI/SSDI                      443
SNAP; Section 8; SSI/SSDI                255
TennCare; Section 8; SSI/SSDI            227
TennCare; Section 8                      217
Name: demo_OtherAsst, dtype: int64

Grouping the df_demo dataframe by the demo_OtherAsst column and then creating a subgroup of SNAP value in the demo_OtherAsst column

In [50]:
#grouped_df = df.groupby("column1")
grouped_df_demo = df_demo.groupby("demo_OtherAsst")
grouped_df_demo

In [66]:
group_SNAP = grouped_df_demo.get_group("SNAP")
group_SNAP

,demo_Gender,demo_Income,demo_Referral,demo_Language,demo_Race/Ethnicity,demo_OtherAsst,demo_LastVisit,demo_NumInHouse,demo_Birth Year
17,Female,$0-$21280,Flyer,NaN,Caucasian,SNAP,More than 5 years,NaN,1948
18,Female,$0-$21280,Flyer,NaN,Caucasian,SNAP,More than 5 years,NaN,1948
29,Male,$0-$21280,Radio,NaN,Caucasian,SNAP,More than 5 years,NaN,1945
32,Female,$0-$21280,Dental Clinic Staff,NaN,African American,SNAP,Less than 12 months,NaN,1956
35,Female,$0-$21280,NaN,NaN,African American,SNAP,NaN,NaN,1960
...,...,...,...,...,...,...,...,...,...
57802,Female,NaN,Dental Clinic Staff,NaN,Caucasian,SNAP,Less than 12 months,1.0,1945
57810,Female,NaN,Dental Clinic Staff,NaN,Caucasian,SNAP,Less than 12 months,2.0,1957
57841,Female,NaN,Dental Clinic Staff,NaN,Caucasian,SNAP,Less than 12 months,1.0,1945
57855,Female,NaN,Dental Clinic Staff,NaN,Caucasian,SNAP,Less than 12 months,2.0,1957
57858,Male,$0-$21280,Dental Clinic Staff,English,Caucasian,SNAP,1 to 2 years,1.0,1958

In [76]:
group_SNAP['demo_Gender'].value_counts()

Female    2577
Male      1368
Name: demo_Gender, dtype: int64

In [85]:
group_SNAP['demo_NumInHouse'].median()

1.0

In [83]:
pivot_SNAP = pd.pivot_table (data=group_SNAP, index=['demo_Gender', 'demo_Income', 'demo_LastVisit', 'demo_Race/Ethnicity'])#, ['demo_Birth Year'], aggfunc=np.mean)
pivot_SNAP

                                                                   demo_NumInHouse
demo_Gender demo_Income   demo_LastVisit      demo_Race/Ethnicity
Female      $0-$21280     1 to 2 years        African American            1.240000
                                              Caucasian                   1.266667
                                              Hispanic                    1.000000
                          3 to 5 years        African American            1.666667
                                              Caucasian                   1.304688
                                              Hispanic                    1.500000
                          Less than 12 months African American            1.191176
                                              Asian                       2.000000
                                              Caucasian                   1.199301
                                              Hispanic                    1.333333
                                              Unknown                     1.000000
                          More than 5 years   African American            1.453125
                                              Caucasian                   1.331104
                                              Hispanic                    2.800000
            $21246-$24280 1 to 2 years        African American            1.205882
                                              Caucasian                   1.800000
                          3 to 5 years        Caucasian                   1.000000
                          Less than 12 months African American            1.571429
                                              Caucasian                   1.909091
                                              Hispanic                    3.000000
                          More than 5 years   African American            1.000000
                                              Caucasian                   2.250000
            $24281-$27315 1 to 2 years        Hispanic                    3.000000
                          Less than 12 months African American            2.000000
                                              Caucasian                   3.000000
                          More than 5 years   African American            2.000000
                                              Caucasian                   2.000000
            $28806-$32920 1 to 2 years        Caucasian                   4.000000
                          3 to 5 years        Caucasian                   2.000000
                          Less than 12 months African American            3.000000
                                              Caucasian                   3.000000
                          More than 5 years   Caucasian                   2.000000
            $32921-$37035 More than 5 years   African American            2.000000
            $36366-$41560 1 to 2 years        African American            3.000000
            $41561-$46755 Less than 12 months Caucasian                   4.000000
Male        $0-$21280     1 to 2 years        African American            1.260870
                                              Caucasian                   1.169014
                                              Hispanic                    1.636364
                                              Multi-racial                1.000000
                          3 to 5 years        African American            1.000000
                                              Caucasian                   1.470588
                          Less than 12 months African American            1.317647
                                              Asian                       2.000000
                                              Caucasian                   1.259259
                                              Hispanic                    1.857143
                          More than 5 years   African American            1.666667
                                              Caucasian                   1.405229
                                              Hispanic                    1.000000
            $21246-$24280 3 to 5 years        African American            1.000000
                          Less than 12 months Caucasian                   2.200000
                          More than 5 years   African American            1.000000
                                              Caucasian                   1.950000
            $24281-$27315 1 to 2 years        Caucasian                   5.000000
                          3 to 5 years        Caucasian                   2.000000
            $41561-$46755 More than 5 years   African American            4.000000

In [67]:
df_demo['demo_LastVisit'].value_counts()

Less than 12 months    22890
More than 5 years      13365
1 to 2 years           10666
3 to 5 years            7375
Name: demo_LastVisit, dtype: int64

In [68]:
df_demo['demo_Gender'].value_counts()

Female         35855
Male           21462
Transgender       21
Other              1
Name: demo_Gender, dtype: int64

In [69]:
df_demo['demo_Birth Year'].value_counts()

1957    3990
1958    3774
1956    3659
1959    3289
1955    2995
        ...
1975       1
1978       1
2019       1
1971       1
1985       1
Name: demo_Birth Year, Length: 124, dtype: int64

**Finding the unique values under Birth year column and replacing irregular information with 'Missing' in order to perform aggregations

df_demo['demo_Birth Year'].unique()

In [18]:
df_demo['demo_Birth Year'].replace(['#NUM!','#VALUE!', 'None' ], 'Missing', inplace=True)

In [19]:
df_demo['demo_Birth Year'].unique()

array([1960, 1959, 1942, 1955, 1958, 1948, 1961, 1945, 1956, 1953, 1935,
       1943, 1952, 1950, 1954, 1951, 1957, 1941, 1947, 1944, 1937, 2021,
       1938, 1949, 1940, 1946, 1939, 1932, 1931, 1929, 1930, 1934, 1900,
       1933, 1936, 1922, 1965, 1927, 1928, 1924, 1967, 1923, 1925, 1921,
       1926, 2354, '1944', '1947', '1960', '1958', '1951', '1953', '1955',
       '1957', '1959', '1940', '1943', '1952', '1954', '1956', '1941',
       '1949', '1931', '1950', '1946', '1948', '1927', '1935', '1934',
       '1930', '1939', '1945', '1933', '1936', '1937', '1942', '1923',
       '1926', '1938', '1932', '1900', 'Missing', '1929', '1925', '2020',
       '5245', '1924', '1963', '1928', '1921', 1963, 1968, 2019, 2041,
       1964, 1962, 1920, 2020, 1919, 1978, 1971, '1961', '1962', '1922',
       '1975', '1920', '1967', '1968', '1976', '1919', '1964', '1971',
       '1972', '2019', '1991', '1985', '1966', 2298, 1970, 1994, 1918,
       1983, 2018], dtype=object)

In [72]:
#df_demo['demo_Birth Year'].sort_values(by='', ascending=False)

#df_demo['demo_Birth Year'] = [df_demo['demo_Birth Year'] > '2019']
#df_demo['demo_Birth Year'].unique()

TypeError: '>' not supported between instances of 'int' and 'str'

In [20]:
df_demo.describe()

,demo_Gender,demo_Income,demo_Referral,demo_Language,demo_Race/Ethnicity,demo_OtherAsst,demo_LastVisit,demo_NumInHouse,demo_Birth Year
count,57339,55548,55060,17364,51598,28606,54296,56239,57860
unique,4,17,15,4,8,15,4,32,123
top,Female,$0 - $21 280,Dental Clinic Staff,English,Caucasian,SSI/SSDI,Less than 12 months,1,1957
freq,35855,42590,33302,14013,32248,12198,22890,25056,3990

**Replacing underscores in the demo_NumInHouse column and changing the data type from object to float

In [57]:
df_demo['demo_NumInHouse'].unique()

array([nan, '1', '3', '2', '4', '5', '6', '7', '9', '8', '0', '112',
       '2864', '1886', '8368', '13900', ''], dtype=object)

In [58]:
df_demo['demo_NumInHouse'] = df_demo['demo_NumInHouse'].str.replace('_', '')

In [59]:
df_demo['demo_NumInHouse'].unique()

array([nan, '1', '3', '2', '4', '5', '6', '7', '9', '8', '0', '112',
       '2864', '1886', '8368', '13900', ''], dtype=object)

In [24]:
#pd.DatetimeIndex(df_demo['demo_Birth Year']).year

In [60]:
df_demo["demo_NumInHouse"] = pd.to_numeric(df_demo["demo_NumInHouse"])

In [62]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57860 entries, 0 to 57859
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   demo_Gender          57339 non-null  object
 1   demo_Income          55548 non-null  object
 2   demo_Referral        55060 non-null  object
 3   demo_Language        17364 non-null  object
 4   demo_Race/Ethnicity  51598 non-null  object
 5   demo_OtherAsst       28606 non-null  object
 6   demo_LastVisit       54296 non-null  object
 7   demo_NumInHouse      40145 non-null  float64
 8   demo_Birth Year      57860 non-null  object
dtypes: float64(1), object(8)
memory usage: 4.0+ MB

In [63]:
df_demo.isna()

,demo_Gender,demo_Income,demo_Referral,demo_Language,demo_Race/Ethnicity,demo_OtherAsst,demo_LastVisit,demo_NumInHouse,demo_Birth Year
0,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,True,False,True,False
2,False,False,False,True,False,True,False,True,False
3,False,False,False,True,False,True,False,True,False
4,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
57855,False,True,False,True,False,False,False,False,False
57856,False,False,False,True,False,False,False,False,False
57857,True,True,True,True,True,True,True,True,False
57858,False,False,False,False,False,False,False,False,False
57859,False,False,False,True,False,False,False,False,False

In [64]:
pivot_demo = pd.pivot_table (data=df_demo, index='demo_Gender')#, ['demo_Birth Year'], aggfunc=np.mean)
pivot_demo

             demo_NumInHouse
demo_Gender
Female              2.070076
Male                1.856309
Other               1.000000
Transgender         2.000000

In [65]:
pivot_demo = pd.pivot_table (data=df_demo, index='demo_Gender', values = 'demo_NumInHouse')
pivot_demo

             demo_NumInHouse
demo_Gender
Female              2.070076
Male                1.856309
Other               1.000000
Transgender         2.000000