In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
barriers = pd.read_csv('../data/smile_on_barriers.csv')

In [3]:
barriers.head()

,Unnamed: 0,patient_id,cmi_barriers_to_care,insurance,cost,transport,isolation,fear,health
0,227,-2,Dental cost; No insurance,No insurance,Dental cost,NaN,NaN,NaN,NaN
1,47337,-2,Dental cost,NaN,Dental cost,NaN,NaN,NaN,NaN
2,1004,-2,Dental cost; No insurance,No insurance,Dental cost,NaN,NaN,NaN,NaN
3,42738,-2,Dental cost; No insurance; Fear,No insurance,Dental cost,NaN,NaN,Fear,NaN
4,13172,-2,Dental cost; No insurance,No insurance,Dental cost,NaN,NaN,NaN,NaN

In [4]:
grouped = barriers.groupby(['patient_id']).first()

,Unnamed: 0,cmi_barriers_to_care,insurance,cost,transport,isolation,fear,health
patient_id,,,,,,,,
-2,227,Dental cost; No insurance,No insurance,Dental cost,None,None,Fear,None
-1,39621,No insurance,No insurance,None,None,None,None,None
2384106,35889,Dental cost,None,Dental cost,None,None,None,None
2384744,33467,Dental cost,None,Dental cost,None,None,None,None
2384833,57342,No insurance,No insurance,None,None,None,None,None
2384897,57473,Dental cost; No insurance,No insurance,Dental cost,None,None,None,None
2384922,57471,Dental cost; No insurance,No insurance,Dental cost,None,None,None,None
2384932,39475,Dental cost,None,Dental cost,None,None,None,None
2384949,56727,Dental cost; No insurance,No insurance,Dental cost,None,None,None,None
2384963,55620,Dental cost,None,Dental cost,None,None,None,None

In [5]:
grouped = grouped.drop(['Unnamed: 0', 'cmi_barriers_to_care'], axis=1)

In [6]:
grouped.shape

(10424, 6)

In [8]:
grouped.head(25)

               insurance         cost transport isolation  fear health
patient_id
-2          No insurance  Dental cost      None      None  Fear   None
-1          No insurance         None      None      None  None   None
 2384106            None  Dental cost      None      None  None   None
 2384744            None  Dental cost      None      None  None   None
 2384833    No insurance         None      None      None  None   None
 2384897    No insurance  Dental cost      None      None  None   None
 2384922    No insurance  Dental cost      None      None  None   None
 2384932            None  Dental cost      None      None  None   None
 2384949    No insurance  Dental cost      None      None  None   None
 2384963            None  Dental cost      None      None  None   None
 2384971    No insurance  Dental cost      None      None  None   None
 2384974            None  Dental cost      None      None  None   None
 2384980    No insurance  Dental cost      None      None  None   None
 2384995    No insurance  Dental cost      None      None  None   None
 2385015            None  Dental cost      None      None  None   None
 2385046            None  Dental cost      None      None  None   None
 2385054    No insurance         None      None      None  None   None
 2385067            None         None      None      None  None   None
 2385078            None  Dental cost      None      None  Fear   None
 2385160            None  Dental cost      None      None  None   None
 2385168    No insurance  Dental cost      None      None  Fear   None
 2385321            None  Dental cost      None      None  None   None
 2385447            None         None      None      None  None   None
 2385621    No insurance  Dental cost      None      None  None   None
 2386054    No insurance  Dental cost      None      None  None   None

In [ ]:
plt.bar(courses, values, color ='green',
        width = 0.5)
plt.xlabel("Courses offered")
plt.ylabel("No. of students enrolled")
plt.title("Students enrolled in different courses")
plt.show()