In [40]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

Clinic info

In [2]:
smile_on = pd.read_csv('../data/smile_on_clean.csv', parse_dates = ['call_start'])

C:\Users\Erin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,75) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
smile_on.shape

(57486, 112)

In [4]:
smile_on.head()

,Unnamed: 0,report_num,reg_or_appt,related_reports,call_start,call_end,call_length,patient_id,city,county,...,si_enroller_location,tp_completed,tp_developed,tp_yay,ve_transport,ve_eligibility_verified,bocq_next_step,di_language,referred,pe_next_step
0,0,93115324,SMILE ON 60+ Registration,NaN,2021-09-30 16:56:00,2021-09-30 16:57:00,1,3638169,Smyrna,Rutherford,...,NaN,NaN,NaN,NaN,NaN,NaN,Referred to dental clinic,English,NaN,Continued with Navigation
1,1,93115188,SMILE ON 60+ Registration,NaN,2021-09-30 16:53:00,2021-09-30 16:53:00,0,4431194,Nashville,Davidson,...,Referral Follow-Up,NaN,NaN,NaN,NaN,NaN,Referred to dental clinic,English,NaN,Continued with Navigation
2,2,93115081,SMILE ON 60+ Clinical,NaN,2021-09-30 16:50:00,2021-09-30 16:51:00,1,2941341,Memphis,Shelby,...,Provider Site,No,Yes,No,NaN,NaN,Referred to dental clinic,NaN,NaN,Continued with Navigation
3,3,93115032,SMILE ON 60+ Clinical,NaN,2021-09-30 16:48:00,2021-09-30 16:49:00,1,3823933,Memphis,Shelby,...,Provider Site,No,Yes,No,NaN,NaN,NaN,NaN,NaN,Continued with Navigation
4,4,93114968,SMILE ON 60+ Clinical,NaN,2021-09-30 16:46:00,2021-09-30 16:48:00,2,3348256,Memphis,Shelby,...,Provider Site,No,Yes,No,NaN,NaN,NaN,NaN,NaN,Continued with Navigation

In [5]:
#unique clinics providing care - 32
unique_clinics = smile_on['si_enroller_id'].unique()
unique_clinics

array([nan, 'Christ Community Health Services- Broad Avenue',
       'Christ Community Health Services- Raleigh',
       'Neighborhood Health - Cleveland Park/ Nashville',
       'Neighborhood Health - Lebanon',
       'Interfaith Dental Clinic - Murfreesboro',
       'Christ Community Health Services- Frayser',
       'Healing Hands Health Center - Bristol',
       'Karis Dental Clinic - Cleveland',
       'Interfaith Dental Clinic - Nashville',
       'Northeast Tennessee Community Health Centers Inc. - Johnson City',
       'Matthew Walker Comprehensive Health Center Inc. - Nashville',
       'Christ Community Health Services- Hickory Hill',
       'Keystone Dental Care Inc. - Johnson City',
       'Friends in Need Health Center - Kingsport',
       'Interfaith Health Clinic of Knoxville - Knoxville',
       'Meharry Mobile Dental Clinic', 'Matthew Walker - Clarksville',
       'Mountain Hope Good Shepherd Clinic', 'TDH - Maury Co',
       'Reelfoot Ministries - Obion', 'Church Health Center - Memphis',
       'Trinity Health Ministries ',
       'Smiles Inc. - South Pittsburg - serving Marion Grundy Franklin and Hamilton Counties',
       'Neighborhood Health - Napier/Nashville',
       'Christ Community Health Services- Third Street',
       'Fifty Forward - Nashville', 'TDH - Lawrence Co',
       'Knox County CAC/Office on Aging - Knoxville',
       'Neighborhood Health - Eastside/Nashville',
       'Neighborhood Health - Mission/Nashville',
       'Appalachian Miles for Smiles - Mobile'], dtype=object)

In [6]:
#total appointments at all clinics
smile_on["si_enroller_id"].value_counts().sum()

46961

In [7]:
#total patients seen per clinic
smile_on["si_enroller_id"].value_counts()
smile_on.loc[smile_on.index.isin(['SMILE ON 60+ Clinical'])]

Empty DataFrame
Columns: [Unnamed: 0, report_num, reg_or_appt, related_reports, call_start, call_end, call_length, patient_id, city, county, state, zip_code, EnteredByWorkerNum, date_entered, di_household_size, birth_year, oec_1351, oec_1354, oec_2140, oec_2150, oec_2160, oec_2161, oec_230, oec_2330, oec_2331, oec_2332, oec_2335, oec_2390, oec_2391, oec_2392, oec_2393, oec_2394, oec_2915, oec_2920, oec_2933, oec_2940, oec_2950, oec_2954, oec_2980, oec_3220, oec_4341, oec_4342, oec_6930, oec_6980, oec_7111, oec_7140, oec_7210, oec_7220, oec_7230, oec_7240, oec_7241, oec_7250, oec_7261, oec_7286, oec_7310, oec_7311, oec_7320, oec_7321, oec_7410, oec_7411, oec_7471, oec_7510, oec_7971, oec_7972, oec_9110, oec_9951, scrn_date_of_last, ve_verified_date, bocq_eat_limited, bocq_dental_clinic, bocq_client_commit, bocq_help_other, bocq_need_help, bocq_appearance, bocq_condition, cmi_clinic, cmi_transport_barriers, cmi_barriers_to_care, ci_Is patient of record date if yes last seen?, ci_Was initial appointment made?, ci_Was initial transportation assistance or referral provided?, di_gender, di_hh_income, di_referred_by, di_race_eth, di_other_programs, di_last_dentist_visit, oec_care_provided, pe_insurance, pe_prequalify, scrn_lower_teeth, scrn_upper_teeth, scrn_has_dentures, scrn_eats_w_dentures, scrn_problems_12m, scrn_tooth_brushing, scrn_periodontal, scrn_root_fragments, scrn_lesions, scrn_urgency, ...]
Index: []

[0 rows x 112 columns]

In [21]:
print(smile_on.columns.tolist())

['Unnamed: 0', 'report_num', 'reg_or_appt', 'related_reports', 'call_start', 'call_end', 'call_length', 'patient_id', 'city', 'county', 'state', 'zip_code', 'EnteredByWorkerNum', 'date_entered', 'di_household_size', 'birth_year', 'oec_1351', 'oec_1354', 'oec_2140', 'oec_2150', 'oec_2160', 'oec_2161', 'oec_230', 'oec_2330', 'oec_2331', 'oec_2332', 'oec_2335', 'oec_2390', 'oec_2391', 'oec_2392', 'oec_2393', 'oec_2394', 'oec_2915', 'oec_2920', 'oec_2933', 'oec_2940', 'oec_2950', 'oec_2954', 'oec_2980', 'oec_3220', 'oec_4341', 'oec_4342', 'oec_6930', 'oec_6980', 'oec_7111', 'oec_7140', 'oec_7210', 'oec_7220', 'oec_7230', 'oec_7240', 'oec_7241', 'oec_7250', 'oec_7261', 'oec_7286', 'oec_7310', 'oec_7311', 'oec_7320', 'oec_7321', 'oec_7410', 'oec_7411', 'oec_7471', 'oec_7510', 'oec_7971', 'oec_7972', 'oec_9110', 'oec_9951', 'scrn_date_of_last', 've_verified_date', 'bocq_eat_limited', 'bocq_dental_clinic', 'bocq_client_commit', 'bocq_help_other', 'bocq_need_help', 'bocq_appearance', 'bocq_condition', 'cmi_clinic', 'cmi_transport_barriers', 'cmi_barriers_to_care', 'ci_Is patient of record date if yes last seen?', 'ci_Was initial appointment made?', 'ci_Was initial transportation assistance or referral provided?', 'di_gender', 'di_hh_income', 'di_referred_by', 'di_race_eth', 'di_other_programs', 'di_last_dentist_visit', 'oec_care_provided', 'pe_insurance', 'pe_prequalify', 'scrn_lower_teeth', 'scrn_upper_teeth', 'scrn_has_dentures', 'scrn_eats_w_dentures', 'scrn_problems_12m', 'scrn_tooth_brushing', 'scrn_periodontal', 'scrn_root_fragments', 'scrn_lesions', 'scrn_urgency', 'scrn_decay', 'si_enroller_id', 'si_enroller_location', 'tp_completed', 'tp_developed', 'tp_yay', 've_transport', 've_eligibility_verified', 'bocq_next_step', 'di_language', 'referred', 'pe_next_step']

# Exploring the transportation question

In [8]:
smile_on["cmi_transport_barriers"].value_counts()

Cost; Availability - no car/access to transportation    1618
Availability - no car/access to transportation          1275
Cost                                                     817
Name: cmi_transport_barriers, dtype: int64

In [53]:
smile_on["cmi_transport_barriers"] = smile_on["cmi_transport_barriers"].replace({
    "Availability - no car/access to transportation": "Availability",
    "Cost; Availability - no car/access to transportation": "Both"})

In [54]:
smile_on["cmi_transport_barriers"].value_counts()

Both            1618
Availability    1275
Cost             817
Name: cmi_transport_barriers, dtype: int64

In [55]:
#create dataframes based on tranportation barriers
smile_on1 = smile_on[['patient_id','reg_or_appt',"cmi_transport_barriers","ve_transport"]]
both = smile_on1.loc[smile_on["cmi_transport_barriers"].isin(['Both'])]
availability = smile_on1.loc[smile_on["cmi_transport_barriers"].isin(['Availability'])]
cost = smile_on1.loc[smile_on["cmi_transport_barriers"].isin(['Cost'])]
both.shape

(1618, 4)

In [69]:
v = both["patient_id"].value_counts()
v.head()

3212379    54
2758373    42
2404190    24
3855338    23
2408029    23
Name: patient_id, dtype: int64

In [56]:
both["ve_transport"].value_counts()

No     109
Yes     55
Name: ve_transport, dtype: int64

In [57]:
availability["ve_transport"].value_counts()

No     123
Yes     25
Name: ve_transport, dtype: int64

In [58]:
cost["ve_transport"].value_counts()

No     73
Yes    50
Name: ve_transport, dtype: int64

In [37]:
both.groupby('patient_id').size()

patient_id
2392454     8
2399825     7
2399840     9
2404190    24
2408029    23
           ..
4439826     5
4440903     1
4473724     1
4517573     5
4522294     2
Length: 313, dtype: int64

In [28]:
transport["patient_id"].value_counts()

3212379    54
2758373    42
2390065    25
2511808    25
2404190    24
           ..
2612122     1
2628508     1
4433602     1
2413503     1
3041273     1
Name: patient_id, Length: 664, dtype: int64

In [87]:
smile_on['cmi_barriers_to_care'].unique()

array(['No insurance', 'Dental cost; No insurance',
       'Dental cost; No insurance; Fear',
       'Transportation; Dental cost; No insurance', 'Dental cost', nan,
       'Dental cost; No insurance; Personal isolation',
       'Dental cost; No insurance; Physical mobility and health',
       'No insurance; Physical mobility and health', 'No insurance; Fear',
       'Transportation; Dental cost; No insurance; Personal isolation; Fear; Physical mobility and health',
       'Transportation; Dental cost',
       'Transportation; Dental cost; No insurance; Physical mobility and health',
       'Fear', 'Dental cost; Fear',
       'No insurance; Fear; Physical mobility and health',
       'Transportation; Dental cost; No insurance; Fear',
       'Transportation; Dental cost; Fear',
       'Transportation; No insurance',
       'Dental cost; No insurance; Fear; Physical mobility and health',
       'Dental cost; Physical mobility and health',
       'Dental cost; Fear; Physical mobility and health',
       'Transportation; Dental cost; No insurance; Fear; Physical mobility and health',
       'Transportation',
       'Transportation; Dental cost; Physical mobility and health',
       'Transportation; Dental cost; No insurance; Personal isolation',
       'Personal isolation',
       'Dental cost; No insurance; Personal isolation; Fear; Physical mobility and health',
       'Physical mobility and health', 'Personal isolation; Fear',
       'Dental cost; No insurance; Personal isolation; Fear',
       'No insurance; Personal isolation',
       'Transportation; Dental cost; No insurance; Personal isolation; Fear',
       'Transportation; Dental cost; Personal isolation',
       'Dental cost; Personal isolation; Fear',
       'Transportation; Personal isolation',
       'Dental cost; No insurance; Personal isolation; Physical mobility and health',
       'Transportation; No insurance; Physical mobility and health',
       'Dental cost; Personal isolation',
       'Transportation; Dental cost; Personal isolation; Physical mobility and health',
       'Transportation; Physical mobility and health',
       'Transportation; No insurance; Fear; Physical mobility and health',
       'Transportation; Dental cost; Fear; Physical mobility and health',
       'Transportation; Dental cost; No insurance; Personal isolation; Physical mobility and health',
       'Fear; Physical mobility and health',
       'Personal isolation; Physical mobility and health',
       'Transportation; No insurance; Fear',
       'Dental cost; Personal isolation; Physical mobility and health',
       'Transportation; No insurance; Personal isolation',
       'Transportation; Fear', 'Transportation; Personal isolation; Fear',
       'Transportation; Fear; Physical mobility and health',
       'Transportation; Personal isolation; Physical mobility and health'],
      dtype=object)

In [71]:
smile_on_barriers = smile_on[['patient_id',"cmi_barriers_to_care"]]

In [72]:
smile_on_barriers

       patient_id                       cmi_barriers_to_care
0         3638169                               No insurance
1         4431194                  Dental cost; No insurance
2         2941341                  Dental cost; No insurance
3         3823933            Dental cost; No insurance; Fear
4         3348256  Transportation; Dental cost; No insurance
...           ...                                        ...
57481     2385621                  Dental cost; No insurance
57482     2631417                               No insurance
57483          -1                                        NaN
57484     3239813                  Dental cost; No insurance
57485     2631417                               No insurance

[57486 rows x 2 columns]

In [90]:
smile_on_barriers['insurance'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(No insurance)', expand=False)
smile_on_barriers['cost'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Dental cost)', expand=False)
smile_on_barriers['transport'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Transportation)', expand=False)
smile_on_barriers['isolation'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Personal isolation)', expand=False)
smile_on_barriers['fear'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Fear)', expand=False)
smile_on_barriers['health'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Physical mobility and health)', expand=False)

<ipython-input-90-87a235f56603>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smile_on_barriers['insurance'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(No insurance)', expand=False)
<ipython-input-90-87a235f56603>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smile_on_barriers['cost'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Dental cost)', expand=False)
<ipython-input-90-87a235f56603>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smile_on_barriers['transport'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Transportation)', expand=False)
<ipython-input-90-87a235f56603>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smile_on_barriers['isolation'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Personal isolation)', expand=False)
<ipython-input-90-87a235f56603>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smile_on_barriers['fear'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Fear)', expand=False)
<ipython-input-90-87a235f56603>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smile_on_barriers['health'] = smile_on_barriers['cmi_barriers_to_care'].str.extract(r'(Physical mobility and health)', expand=False)

In [96]:
smile_on_barriers.sort_values(by=['patient_id'], inplace=True)
smile_on_barriers.head(50)

<ipython-input-96-97742df8f0de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smile_on_barriers.sort_values(by=['patient_id'], inplace=True)

,patient_id,cmi_barriers_to_care,insurance,cost,transport,isolation,fear,health
227,-2,Dental cost; No insurance,No insurance,Dental cost,NaN,NaN,NaN,NaN
47337,-2,Dental cost,NaN,Dental cost,NaN,NaN,NaN,NaN
1004,-2,Dental cost; No insurance,No insurance,Dental cost,NaN,NaN,NaN,NaN
42738,-2,Dental cost; No insurance; Fear,No insurance,Dental cost,NaN,NaN,Fear,NaN
13172,-2,Dental cost; No insurance,No insurance,Dental cost,NaN,NaN,NaN,NaN
228,-2,Dental cost; No insurance,No insurance,Dental cost,NaN,NaN,NaN,NaN
39621,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37726,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39620,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37725,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39619,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37728,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37741,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39618,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39617,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37744,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39616,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37723,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37724,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39629,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39622,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37731,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37732,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37733,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39627,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39626,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37734,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37727,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37740,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37735,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39625,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37737,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37738,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39624,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37739,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39623,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37736,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39628,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37722,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39643,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57483,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39658,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39659,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39654,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20132,-1,No insurance,No insurance,NaN,NaN,NaN,NaN,NaN
39660,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39652,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39651,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39589,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
smile_on_barriers.to_csv('../data/smile_on_barriers.csv')